<button (click)="applyDiscount()">Хочу знижку</button>

<div class="products-container">
  <div class="product" *ngFor="let product of products">
    <app-card-block
      [product]="product"
      [discount]="discountApplied"
      (viewDetails)="showDetails($event)"
    >
      <b>{{ product.color }}</b>
    </app-card-block>
  </div>
</div>

<div class="product-details" *ngIf="selectedProduct">
  <h2>{{ selectedProduct.name }}</h2>
  <p>Price: {{ selectedProduct.price }}</p>
  <p>Description: {{ selectedProduct.description }}</p>
</div>
