<button class="discount-button" (click)="applyDiscount()">Знижку 15%</button>

<div class="products-container">
  <app-card-block
    [product]="product"
    [discount]="discountApplied"
    (viewDetails)="showDetails($event)"
    class="product"
    *ngFor="let product of products"
  >
    <b>{{ product.color }}</b>
  </app-card-block>
</div>

<div class="product-details" *ngIf="selectedProduct">
  <h2>{{ selectedProduct.name }}</h2>
  <p>Price: {{ selectedProduct.price }} $</p>
  <p>Description: {{ selectedProduct.description }}</p>
</div>
